div.easy_social_box {
  height: 28px;
}

div.easy_social_box.vertical {
  height: 62px;
}

.easy_social_box div.easy_social-widget {
  text-align: center;
  margin: 0 4px 0 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

.easy_social_box div.easy_social-widget.last {
  margin-right: 0;
}

.easy_social_box.vertical span.easy_social-widget {
  width: 58px;
  height: 62px;
}